<appSettings>
<!--
  <add key="connectionString" value="Data Source=184.168.194.62;Database=Weziro;User ID=serviceManager;Password=5w7Qo8t#;Connect Timeout=15;Encrypt=False;Packet Size=4096" />
  -->  
    <add key="connectionString" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=Weziro;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    
  <add key="defaultLanguage" value="TR"/>
  
  <add key="whiteLabelApiuri" value="http://whitelabel.weziro.com/"/>

</appSettings>